.search-page-title {
	text-align: center;
	font-weight: 500;
}

.search-page-wrapper {
	padding: 16px;
	background-color: #E0E0E0;
}

.search-page-input {
  padding: 8px;
  font-size: 14px;
  margin-right: 8px;
  border-radius: 4px;
  border: none;
  width: 300px;
}

.search-page-button {
	color: #FFFFFF;
	cursor: pointer;
	font-size: 16px;
	padding: 4px 8px;
	border-radius: 2px;
	background-color: #333333;
	border: none;
	text-transform: uppercase;
}

.search-bar-wrapper {
	display: flex;
	margin-top: 4px;
	justify-content: center;
}

.search-page-error-msg {
	margin-top: 4px;
	text-align: center;
}
